.SignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.formSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LogIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.formLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding:5px;
    width: 140%;
    height: 45px;
    color: grey;
    font-size: 16px;
    margin:10px 10px;
    border-radius: 10px; 
    border: 1px solid rgb(26, 26, 26);
  }

.AuthSubmitBtn {
    margin-top: 60px;
    background: #D9B8FF;
    border: 0px;
    border-radius: 12px;
    color:white;
    width: 140%;
    height: 2.8125rem;
    flex-shrink: 0;
}

.msgDiv {
    height: 33px;
}
.msg {
    color: red;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.changeLogIn {
    border: 0;
    /* position: absolute;
    font-size: 20px;
    bottom: 260px; left: 50px; */
    background-color:transparent;
    font-size: small;
    position:relative;
    top: -105px;
}
.LogInSpan {
    text-decoration: underline;
    color: #D9B8FF;
}

.changeSignUp {
    border: 0;
    /* position: absolute;
    font-size: 20px;
    top: 238px; left: 50px; */
    background-color:transparent;
    font-size: small;
    position:relative;
    top: -105px;
}

.SignUpSpan {
    text-decoration: underline;
    color: #bd8ef2;
}