.SignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.formSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LogIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.formLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding:5px;
    margin:10px 10px;
    border-radius: 10px; 
    border: 1px solid black;
 
  }