.searchContainer  {
    text-align: center;
}

.searchBar {
    height: 35px;
    width:80%;
    max-width: 550px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 30px;
    margin-top: 20px;
}

.trending {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 4vw;
}
@media screen and (min-width: 425px) {
  .trending {
     font-size: 17px;
  }
}
.trendingTopic {
  color:gray;
  margin-left: 5px;
}
.homeImage {
  display:flex;
  justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.homeImgBorder {
  background-color: #D9B8FF6B;
  border-radius: 8px;
  margin: 0 10px;
}
.cats {
    margin: 20px 0;
    width: 90%;
    border-radius: 8px;
    max-width: 450px;
    max-height: 300px;
}

p {
    text-align: center;
}
.chooseTitle {
  margin-top: 10px;
}

.categories {
    display:flex;
    overflow-x: auto;
}

.homePostBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* centers the categories after screen width is 500px  */
@media only screen and (min-width: 500px) {
    .categories {
      justify-content: center;
    }
  }

.categories div {
    margin-left: 15px;
}

.categories::-webkit-scrollbar {
    display: none;
  }

.categoryImg {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid black;

  }
  .categoryDiv {
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }
  .caption {
    display: block;
  }

.recentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createButton {
  height: 60px; width: 60px;
  position: fixed;
  right: 25px; bottom: 30px;
  background-color: purple;
  border-radius: 300px;
  box-shadow: 0px 4px 9px 0 rgba(0, 0, 0, 0.8);
}
.plus {
  text-align: center;
  color: white;
  font-size: 35px;
}