.Nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
    /* display: inline-block; */
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

a {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.title {
    text-decoration: none;
    color:rgb(169, 103, 231);
    font-size: 2rem;
}

.logo {
    align-self: center;
    width: 150px;
}

.profile {
    float: right;
    margin-right: 15px;
}

.hamburger {
    margin-top: -10px;
    height: 17px;
    margin-left: 5px;
}

.dropdown {
    width: fit-content;
    margin-top: -10px;
}

#dropdown-basic::after {
    content: none;
}

.dpLink {
    text-decoration: none;
    color: black;
}